[submodule "lib/requirejs"]
	path = lib/requirejs
	url = https://github.com/requirejs/requirejs.git
[submodule "lib/text"]
	path = lib/text
	url = https://github.com/requirejs/text.git
[submodule "lib/requirejs-handlebars"]
	path = lib/requirejs-handlebars
	url = https://github.com/SlexAxton/require-handlebars-plugin.git
[submodule "lib/js-yaml"]
	path = lib/js-yaml
	url = https://github.com/nodeca/js-yaml.git
[submodule "lib/requirejs-yaml"]
	path = lib/requirejs-yaml
	url = https://github.com/m90/require-yaml.git
[submodule "lib/mathjax"]
	path = lib/mathjax
	url = https://github.com/mathjax/MathJax.git
